#container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
}

.my-images {
  width: 100%;
  height: 200px;
}

.hovered-image {
  position: absolute;
  height: 400px;
  width: 400px;
  z-index: 5;
}
